services:
  # database (metadata)
  postgres_db:
      image: postgres:16-alpine
      container_name: docuflow_postgres
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: docuflow_db
      volumes:
        - postgres_data:/var/lib/postgresql/data
    
  # queue broker
  redis:
      image: redis:7-alpine
      container_name: docuflow_redis
  
  # vector database
  chroma:
        image: chromadb/chroma
        container_name: docuflow_chroma
        expose:
          - "8000"
        ports:
          - "8000:8000"
        volumes:
          - chroma_data:/data
  
  # main api gateway service
  api_gateway:
    build: 
      context: ./api_gateway
    container_name: docuflow_api_gateway
    ports:
      - "8080:8001" 
    depends_on:
      - postgres_db # Metadane
      - redis       # Kolejka
      - chroma      # LLM Core Service będzie go używał, ale API Gateway musi czekać
      - minio
    # Wstrzyknięcie klucza API (Użyj swojego prawdziwego klucza)
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    volumes:
      - ./shared_files:/app/shared_files
  
  # 5. Document Processing Worker (Konsument RQ / LangChain RAG Core)
  doc_processing_worker:
    build: 
      context: ./doc_processing_worker
      dockerfile: Dockerfile
    container_name: docuflow_doc_worker
    depends_on:
      - postgres_db 
      - redis       # Odbiera zadania
      - chroma      # Zapisuje wektory
      - minio
    # Wstrzyknięcie klucza API (Użyj swojego prawdziwego klucza)
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - CHROMA_HOST=chroma # Opcjonalnie, ale dobra praktyka
      - CHROMA_PORT=8000
    # Ważne: Musimy podpiąć ten sam wolumen Chroma, aby Worker mógł pisać do bazy wektorowej
    volumes:
      - chroma_data:/chroma/data
      - ./shared_files:/app/shared_files

  llm_core_service:
    build: ./llm_core_service
    container_name: docuflow_llm_core
    ports:
      - "8002:8002" # Wystawiamy port, żeby API Gateway mógł się połączyć
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    depends_on:
      - chroma
      - postgres_db # Opcjonalnie, jeśli będzie korzystać z metadanych

  frontend:
    build: ./frontend
    container_name: docuflow_frontend
    ports:
      - "8081:80" 
    depends_on:
      - api_gateway

  minio:
      image: minio/minio
      container_name: docuflow_minio
      ports:
        - "9000:9000"
        - "9001:9001"
      volumes:
        - minio_data:/data
      environment:
        MINIO_ROOT_USER: minioadmin
        MINIO_ROOT_PASSWORD: minioadmin
        MINIO_BROWSER: "on" 
      command: server /data --console-address ":9001"

volumes:
  postgres_data:
  chroma_data:
  minio_data: