services:
  # database (metadata)
  postgres_db:
      image: postgres:16-alpine
      container_name: docuflow_postgres
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: docuflow_db
      volumes:
        - postgres_data:/var/lib/postgresql/data
    
  # queue broker
  redis:
      image: redis:7-alpine
      container_name: docuflow_redis
  
  # vector database
  chroma:
        image: chromadb/chroma
        container_name: docuflow_chroma
        expose:
          - "8000"
        ports:
          - "8000:8000"
        volumes:
          - chroma_data:/data
  
  # main api gateway service
  api_gateway:
    build: 
      context: ./api_gateway
    container_name: docuflow_api_gateway
    ports:
      - "8080:8001" 
    depends_on:
      - postgres_db 
      - redis       
      - chroma      
      - minio
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - BUCKET_NAME=${MINIO_BUCKET_NAME}
      - LLM_CORE_SERVICE_URL=${LLM_CORE_SERVICE_URL}
      - CORS_ORIGINS=${CORS_ORIGINS}
    volumes:
      - ./shared_files:/app/shared_files
    command: uvicorn app:app --host 0.0.0.0 --port 8001 --reload
    #networks:
    #    - app-network

  # document processing worker
  doc_processing_worker:
    build: 
      context: ./doc_processing_worker
      dockerfile: Dockerfile
    container_name: docuflow_doc_worker
    depends_on:
      - postgres_db 
      - redis       # Take tasks from queue
      - chroma      # Save vectors / embeddings
      - minio       # Access to obj storage
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - CHROMA_HOST=${CHROMA_HOST}
      - CHROMA_PORT=${CHROMA_PORT}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - MINIO_ENDPOINT=${MINIO_ENDPOINT}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - BUCKET_NAME=${MINIO_BUCKET_NAME}
      - MASTER_COLLECTION_NAME=${MASTER_COLLECTION_NAME}
    volumes:
      - chroma_data:/chroma/data          #local path:container path
      - ./shared_files:/app/shared_files
      - ./doc_processing_worker:/app

  # LLM Core service
  llm_core_service:
    build: ./llm_core_service
    container_name: docuflow_llm_core
    ports:
      - "8002:8002"
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - CHROMA_HOST=${CHROMA_HOST}
      - CHROMA_PORT=${CHROMA_PORT}
      - MODEL_GENERATION=${MODEL_GENERATION}
      - MODEL_EMBEDDING=${MODEL_EMBEDDING}
      - MASTER_COLLECTION_NAME=${MASTER_COLLECTION_NAME}
    depends_on:
      - chroma
      - postgres_db

  # frontend service
  frontend:
    build: ./frontend
    container_name: docuflow_frontend
    ports:
      - "8081:80" 
    depends_on:
      - api_gateway

  # MinIO object storage (s3)
  minio:
      image: minio/minio
      container_name: docuflow_minio
      ports:
        - "9000:9000"
        - "9001:9001"
      volumes:
        - minio_data:/data
      environment:
        MINIO_ROOT_USER: minioadmin
        MINIO_ROOT_PASSWORD: minioadmin
        MINIO_BROWSER: "on" 
      command: server /data --console-address ":9001"

#  frontend_streamlit:
#      build: ./frontend_streamlit
#      container_name: chat_frontend
#      ports:
#        - "8501:8501"  # Dostęp do UI przez przeglądarkę
#      environment:
#        # Kluczowe: Streamlit musi wiedzieć, jak nazywa się kontener API Gateway w sieci Dockera
#        - API_GATEWAY_URL=http://docuflow_api_gateway:8001
#      depends_on:
#        - api_gateway  # Czeka aż Gateway wstanie
#      networks:
#        - app-network # Musi być w tej samej sieci co Gateway

#networks:
#  app-network:
#    driver: bridge
          
volumes:
  postgres_data:
  chroma_data:
  minio_data: